.main-header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    box-sizing: border-box;
    width: 100%;
    
    li{
        list-style: none;
        color:#737171;
        font-size: 14px;
        letter-spacing: .8px;
        font-weight: 500;
        text-align: left;
    }
    
    .main-header-left{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:20px;
        z-index: 9;
    
    

        ul{
            display: flex;
            justify-content:flex-start;
            align-items:flex-start;
            text-align: left;
            padding: 0px;
            position: relative;
            

       
            
         //-----drop down style start here----
            .small-dropdown-main{
                display: none;
                z-index:99;
 
            }
            .small-dropdown{
                // display: none;
                display: block;
                background-color: white;
                margin-top:1px;
                box-shadow: 0 1px 2px black;
                width: 140px;
                position: absolute;
                left: 0;
                padding: 20px;
                height: 165px;
                margin-bottom: 0px;
                z-index:99;
                
                a{
                    display:block;
                    text-decoration: none;
                    text-align: left;
                    color: rgb(71, 67, 67);
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: 0px;
                    
                    &:hover{
                        border-bottom: 1px solid red;
                        width: 80px;
                    }                         
                }
            }
            
        .fa-chevron-down{
            font-size: 13px;
        }
            
            .line-stop ::after{
                position: absolute;
                left: 49%;
                right: 0px;
                content: " ";
                bottom: 0px;
                width: 1px;
                height: 16px;
                background-color: #D5D4D4;
            }
            
            .line-stop1 ::after{
                position: absolute;
                left: 24%;
                right: 0px;
                content: " ";
                bottom: 0px;
                width: 1px;
                height: 16px;
                background-color: #D5D4D4;
            }
          
        }
            li{
                margin-right: 60px;
        }
    }
    
    // mediel header style here
        .main-header-mediel{
            width: 20%;
            margin-top: 8px;
            h3{
             text-align: left;
             font-weight: 600;
             letter-spacing: .3px;
             font-size: 36px;
            }
        }
        
    //-----header right here----- 
        .main-header-right{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 15px;

            ul{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                
                a{ text-decoration: none;
                   cursor: pointer;
                    i{
                        margin-left: 25px;
                        font-size: 20px;
                        margin-right: 0px;
                        color: #737171;
                    }
                }
            }
            
        }
}



// ---- sub header start here----
.sub-header{
    width: 60%;
    margin: 18px auto;
    height: 43px;
   
    
    .sub-header-container{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        .big-dropdown-m{ 
                
          .big-dropdown{
              display: none;
              
            .big-dropdown-main{
                box-shadow: 0px 2px 5px rgb(117, 117, 117);
                border-radius: 2px;
                display: flex;
                background-color: white;
                justify-content:space-around;
                width: 384px;
                position: absolute;
                padding-right: 20px;
                top: 20;
                padding-bottom: 25px;
                border:3px solid rgb(236, 216, 178);
                
               ul{
                margin-top: 24px;
                width: 100%;
                h6{
                    font-weight:600;
                    font-size: 15px;
                    color: #645e5e;
                    text-transform: uppercase;
                }
                li{
                    padding: 7px 0;
                    color: #645e5e;
                    opacity: .99;
                    font-weight: 400;
                    font-size: 14px;
                    cursor: pointer;
                    z-index: 222;
                    transition: all 1s linear;
                    
                    &:hover{
                        color: black;
                        transform: translateX(9px);
                        transition: all .7s linear;
                        z-index: 331;
                        // transform: scale(1.04);
                        
                        &::before{
                            content: "";
                            background-color: rgb(41, 106, 228)
                            ;
                            height: 7px;
                            width: 7px;
                            left: -14px;
                            bottom:13px;
                            position: absolute;
                            border-radius: 22px;
                            transition: all 2s linear;
                        }
                    }
                }
               }
            }
            
        }
        // &:hover:#main-dropdown{
        //     background-color: orange;
        //   }
          
        }
        
        li{
            list-style: none;
            margin:0 3%;
            
         
            
            
            a{
                text-decoration: none;
                color: #137171;
                font-weight: 600;
                
                i{
                    font-size: 12px;
                }
                
                &:hover{
                    color: #9552d4;
                }
            }
        }
   
    }
}





// hover state
#english:hover .small-dropdown-main{
    display: block;

}
#eur:hover .small-dropdown-main{
    position: absolute;
    display: block;
    left: 110px;
}

#english:hover{
    color: blueviolet;
    cursor: pointer;
}    
#eur:hover{
    color: blueviolet;
    cursor: pointer;
}

.big-dropdown-m:hover .big-dropdown{
    transition: all 2s linear;
    transform: scale(1.1);
    display: block !important;
}
